{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Мои уровни</h1>
        <p>Всего уровней: 73</p>
        <p>Globed Collision: уровень для глобеда</p>
        <p>Stereo TPLL: почти что самый невозможный уровень во вселенной</p>
        <p>is it a bug: я нашёл интересный баг и решил поделиться им</p>
        <p>Fire and the hole: все виды звука "Fire in the hole"</p>
        <p>PODWALL: должен быть как платформер на рейт</p>
        <p>BIRAL: тоже должен быть рейтнут, но я сделал только лайаут</p>
        <p>Test your luck: шанс пройти уровень 0%</p>
        <p>IOOO: Уровень на 1000 подписчиков</p>
        <p>Soon: Изначально музыка было The Seven Seas</p>
        <p>blinkness: Самый невозможный челлендж</p>
        <p>LDM: Самый неудобный путь к ЛДМ</p>
        <p>stereo madness copy: На самом деле это Back on Track</p>
        <p>LIMBO in 10: Уровень, который принёс целое состояние</p>
        <p>editorguidelevel: Уровень из видео про редактор</p>
        <p>nospike: Уровень без шипов</p>
        <p>how to limbo: Сатира на последний парт в LIMBO</p>
        <p>my part in Tatarstan: Заброшенный коллаб</p>
        <p>Holdy: Уровень проходится простым зажатием</p>
        <p>Tatarstan II: Сиквел к Tatarstan</p>
        <p>Silent Corridor: Самый долгий проект, строился 1 год</p>
        <p>Dual dual: Челлендж на дуалах (verified by Zulkis)</p>
        <p>Experiment 193: Мемори челлендж на тарелке (verified by Zulkis)</p>
        <p>RedRay: ReTray, но красный</p>
        <p>Hyperfly: Простой уровень на стрейтфлай</p>
        <p>Streo Madns: Сжатый Stereo Madness</p>
        <p>hitboxes auto: Авто версия уровня ниже</p>
        <p>hitboxes: Наглядная демонстрация хитбоксов в игре</p>
        <p>Wave: Уровень из видео "Бафаю один клик на волне"</p>
        <p>                   2: Сломанный уровень</p>
        <p>Unknown: Ещё один сломанный уровень</p>
        <p>00: Простой мемори лайаут</p>
        <p>FremePerfect: Уровень для теста Тасбота</p>
        <p>Foxic chal: Уровень для друга</p>
        <p>PlayereyalP: Уровень для двух игроков</p>
        <p>ShadowYTTTTTTTTTTTTT: Копия уровня Fliperblood</p>
        <p>Fliperblood: давайте... не будем об этом</p>
        <p>Bugged: И ещё один сломанный уровень</p>
        <p>Nostalgia: Уровень из блоков 1.0</p>
        <p>Stranger things them: Интро Stranger things.</p>
        <p>Pycckuu Tetpuc: Небольшой уровень лайаут под миллионную музыку.</p>
        <p> HeartBeat wave: Серцебиение из трейла волны.</p>
        <p>Tatarstan: Мой первый рофл-уровень.</p>
        <p>ShadowYT Dont chal: Уровень в стилистике Super Mario Bros.</p>
        <p>Tetris2: Уровень с огромным количеством двоек.</p>
        <p>ShadowYT Mega: Небольшой лайаут для Shadow Play.</p>
        <p>Zelye wargaka: Последний уровень из серии "Zelye".</p>
        <p>DefaultStereoMadness: Точно обычный Stereo Madness.</p>
        <p>eXtrim dEmon: Просто шип.</p>
        <p>ShadowYT: Небольшой простой челлендж.</p>
        <p>ShIrOkAyA GD: По факту мой первый законченный коллаб.</p>
        <p>Zelye titana: Небольшой рофл-уровень</p>
        <p>GD 22: ГД 2.2 воссозданная в 2.1.</p>
        <p>Challenge: Декор версия одноимённого потеряного уровня от NoobCatFirst.</p>
        <p>Coffin Dance: Вдохновленно одноимённым мемом.</p>
        <p>LayoutuoyaL: Первый уровень на аккаунте, его шоукейс - одно из моих первых видео.</p>
        <button class="btn btn-danger">Ладно</button>
    </div>
{% endblock %}