{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <!--<h1>HeXi [GD]</h1>
    <p>3,38 тыс. подписчиков • 244 видео</p>
    <p>Здарова, я Хекси, Хексо, Хехи и т. д. Я играю в гд и снимаю видео по ней. Это что-то типа моего сайта, тут всякая информация есть и куча остальной инфы крч вот так</p>--->
    <div class="features">
        <h1>Главная</h1>
        <p>Здарова, я Хекси и я делаю кринжовенькие видео по иигре про кубики. Вы можете меня за это осуждать, хейтить но мне если честно все равно. Но для чего нужен этот сайт?</p>
        <b>Для чего всё это?</b>
        <p>Первое и самое важное его предназначение - сборник информации. Если человеку нужно что-то узнать или его что-то интересует его перенаправляют сюда. 
            Здесь например есть информация когда новое видео, что такое CR4D и даже форум. Ну и знаете это как вот эти хомпейджи в начале 00-ых.</p> 
        <p>Второе: форум. Это же прикольно, когда человек что нибудь туда написать, и это может много, кто увидить, там может быть полезная информация для фанатов Хекси или простых обывателей</p>
        <p>Третья причина: оттачивание навыков. Я интересуюсь программированием, я уже сделал несколько простых игр и программ, которые действительно могут быть полезны. Каждый раз когда я что-то делаю
            мои умения прокачиваются. Этот сайт то же самое. Я впервые пробую себя в создании сайтов, это мой первый сайт который я вообще сделал по рандомному гайду с Ютуба. Но в будущем когда мне нужно
            будет сделать ещё какой ниубдь сайт у меня уже будет фундамент и некоторые ошибки я больше не буду допускать.</p>
        <b>Что тут есть</b>
        <p>Список всех гиперссылок, которые есть на этом сайте:</p>
        <p>/hexi: Просто представление о том, кто я вообще такой</p>
        <p>/info: Более подробная информация о сайте</p>
        <p>/cr4d: Информация о моём Майнкрафт сервере CR4D, его правила, достопримечательности и др.</p>
        <p>/cr4d/rules: Правила сервера CR4D</p>
        <p>/cr4d/rules/op: Правила для операторов сервера CR4D</p>
        <p>/cr4d/buildings: Список различных построек CR4D</p>
        <p>/cr4d/statistics: Статистика по каждому стриму по CR4D</p>
        <p>/news: Простой форум, где можно делать посты и читать их.</p>
        <p>/news/new: Форма на добавление поста</p>
        <p>/gd: Информация о каждом уровне, сделанным мною в ГД</p>
        <p>/nextvideo: Стадия готовности следующего видео.</p>
        <p>/nextlevel: Стадия готовности следующего уровня.</p>
        <p>/sociallinks: Мои социальные сети, для связи со мной или важных переговоров</p>
        <a href="./maininfo"><button class="btn btn-success">Больше инфы</button></a>
    </div>
{% endblock %}
