{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <!--<h1>HeXi [GD]</h1>
    <p>3,38 тыс. подписчиков • 244 видео</p>
    <p>Здарова, я Хекси, Хексо, Хехи и т. д. Я играю в гд и снимаю видео по ней. Это что-то типа моего сайта, тут всякая информация есть и куча остальной инфы крч вот так</p>--->
    <div class="features">
        <h1>Информация</h1>
        <p>Дата начала проекта: 10 июля 2024 г.</p>
        <p>Дата полу-релиза: 11 июля 2024 г.</p>
        <p>Дата релиза: 14 июля 2024 г.</p>
        <p>Дата публичного открытия: 15 июля 2024 г.</p>
        <p></p>
        <p>Версия: Beta 1.21 (14 июля 2024 г.)</p>
        <a href="{% url 'home' %}"><button class="btn btn-success">Обратно</button></a>
    </div>
{% endblock %}