{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Правила CR4D</h1>
        <b>1. Не мешать игровому процессу</b>
        <p>Не гриферить постройки, не мешать людям строить свои постройки, не портить их вид</p>
        <b>2. Запрещены лаг-машины, чанк-баны, бук-бан и т. д.</b>
        <p>Запрещены попытки взлома или краша сервера, например умышленное возведение лаг-машин или создание чанк-банов или попытка опустить ТПС.
        Вообщем запрещено вообще всё, что может вызывать какие либо лаги сервера или клиента игры.</p>
        <b>3. Запрещены любые читы</b>
        <p>Читы могут использоваться для массового разрушения сервера или просмотр чужих построек через x-Ray, в частности в зоне без приватов.</p>
        <b>4. Вести себя нормально.</b>
        <p>Имейте в виду, что если вы будете вести себя как неадекват вас могут забанить. "Вести себя нормально" подразумевает: не разжигать конфликт,
        не правоцировать других игроков на конфликт, не спамить в чате, вообщем вы поняли.
        </p>
        <a href="{% url 'cr4d' %}"><button class="btn btn-success">Обратно</button></a>
        <a href="{% url 'cr4drulesop' %}"><button class="btn btn-success">Правила для операторов</button></a>
    </div>
{% endblock %}