{% extends 'main/layout.html' %}

{% block title %}HeXi{% endblock %}

{% block content %}
    <div class="features">
        <h1>HeXi</h1>
        <p>Эта страница нужна для тех, кто каким-то образом наткнулся на этот сайт и вообще не знает кто я такой. Объясняю: я Хекси, контентмейкер. Делаю глупые видео по глупой игре.
        Вы меня можете знать по таким видео как: LIMBO if it was made in 1.0; Как сделать уровень сложнее всего; ЛДМ надо заслужить; Как я сделал 3Д уровень в 2Д игре [Перевод от Spu7nix];
        Ну или другим необычным видео по этой игре</p>
        <b>Достижения</b>
        <p>Прошёл Hypnotic Travel первым демоном.</p>
        <p>Построил уровень на 700 тысяч просмотров.</p>
        <p>Построил свой TPLL уровень.</p>
        <p>Придумал идею с уровень за 2 объекта.</p>
        <p>Создал самый креативный Майнкрафт сервер.</p>
        <p>Разработал свой сайт.</p>
        <a href="{% url 'cr4d' %}"><button class="btn btn-dark">Ответы на часто задаваемые вопросы</button></a>
    </div>
{% endblock %}