{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Социальные сети</h1>
        <p>Discord: hexihexi</p>
        <p>Telegram: t.me/hexihexi</p>
        <p>Geometry Dash: hexihexi</p>
        <p>Donation alerts: https://www.donationalerts.com/r/hexihexi</p>
        <b>Не социальные сети:</b>
        <p>Дискорд сервер: https://discord.gg/HcGBzagEdz</p>
        <p>ТГ канал: t.me/hexlhexi</p>
    </div>
{% endblock %}