{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Title</h1>
        <b>Subtitle 1</b>
        <p>Text 1</p>
        <b>Subtitle 2</b>
        <p>Text 2</p>
        <b>Subtitle 3</b>
        <p>Text 3</p>
        <b>Subtitle 4</b>
        <p>Text 4</p>
        <b>Subtitle 5</b>
        <p>Text 5</p>

        <a href="{% url 'cr4d' %}"><button class="btn btn-success">Обратно</button></a>
    </div>
{% endblock %}