{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Правиля для операторов CR4D</h1>
        <b>1. Не мешать игровому процессу</b>
        <p>Это означает не злоупотреблять своими командами. Также сюда входит любой троллинг в котором жертве больше мешают играть, чем разыгрывают.
        И если самой жертве он не понравился вас деопают. Ну и всякая база по типа грифа, сетать постройки, менять рг.</p>
        <b>2. Запрещены /title, /tellraw</b>
        <p>Пожалуйста, не используйте эти команды тем более на всех игроков. Это выглядит просто неуместно и странно. Если вам нужно что-то передать всему серверу
        лучше пишите /me "сообщение".</p>
        <b>3. Не менять геймрулы</b>
        <p>Команда /gamerule под строгим запретом. Я тут сервер целый день настраивал не чтобы его ухудшали. Если геймрул стоит на определённом значении, то
        скорее всего это не просто так.</p>
        <b>4. Не опать других игроков без разрешения</b>
        <p>На сервер итак слишком много операторов, буквально каждый кто играет на этом сервере оператор. И если вы просто так опаете своего кента, то деопают и вас и вашего друга.
        Опайте пожалуйста только с моего разрешения.</p>
        <b>5. Не нарушать правила зон.</b>
        <p>В зоне без приватов без форлд эдита или кор протекта (только в крайнем случае). В зоне без разрушений не ломать блоки и так далее.</p>

        <a href="{% url 'cr4d' %}"><button class="btn btn-success">Обратно</button></a>
    </div>
{% endblock %}