{% extends 'main/layout.html' %}

{% block title %}he.xi{% endblock %}

{% block content %}
    <div class="features">
        <h1>Постройки CR4D</h1>
        <b>Введение</b>
        <p>На этой странице будут не все постройки, потому что если я попытаюсь засунуть сюда КАЖДУЮ постройку на сервере и ещё что-то рассказать про неё, то это займёт очень много времени.
        Поэтому здесь будут только самые важные, масштабные и красивые постройки.</p>
        <b>Галерея искусств</b>
        <p>Огромное здание кольцевой структуры, самое массивное строение на этом сервере. Диаметр кольца составляет 105 блоков и 95 блоков в высоту. Но для чего нужно такое огромное
        строение? Это хранилище абсолютно ВСЕХ мап-артов на сервере. По моим рассчётам место в этом музее хватит как минимум на 3 600 мап-артов 1x1. Что учитывая размеры сервера
        более чем достаточно. Вопрос зачем нам столько места? Не знаю. Строитель: HeX_i</p>
        <b>Мега-дурка</b>
        <p>Что-то вроде традиции у нас на сервере строить дурки. Большинство из них небольшие, маленький и по большей части сделаны ради забавы. И kirtar1 решил сделать
        САМУЮ большую дурку на сервере. В ней 4 этажа, 45 различных комнат (не считая палаты 29). Среди которых: игровая для психбольных, следственный изолятор, расстрел, медный бык И
        дофига ещё чего. Строители: kirtar1, ichotloog</p>
        <b>Дорога к концу света</b>
        <p>На момент 13 июля 2024 г. это вторая самая длинная магистраль Крада, которая уступает магистрали ichotloog, которая идёт 10 968 блоков. Протяжённость "дороги к концу света" почти 
            10 тысяч блоков (9 752). Но магистрась ichotloog была построена с ворлд эдитом, а эта дорогабыла построена без ворлд эдита, одним человеком, за один день.</p>
        <b>Торговый центр "Испанский Сапог"</b>
        <p>Это буквально наш торговый центр. В нём есть своя валюта и множество различных магазинов. Суть этого торгового центра в том, что ты можешь "купить" место и сделать там свой
        собственный магазин. Среди них: магазин флагов, магазин одежды "Медные цены", магазин мап-артов, магазин фанфиков и ещё куча необычных магазинов. Также фасад здания использовался
        для мемориала событий "26" в честь попытки взлома сервера. Строители: 4kqq, ichotloog</p>
        <b>Пасхалко сити</b>
        <p>Полноценный и самый бюджетный город Крада. Со своей инфраструктурой, валютой и даже жителями. В этом городе как минимум 15 зданий и свой остров "Старая Гвинея". Среди них:
        дурка, отель, школа, ресторан, туалет, океанариум и даже вертолётной площадкой. Его площадь вместо со Старой Гвинеей занимает 5 964 блоков, что треть от Галереи искусств.
        Строители: ichotloog, HeX_i, TheTopNick32, maxth1s</p>
        <p></p>
        <p></p>
        <p></p>
        <i>Список будет пополняться...</i>
        <p></p>
        <a href="{% url 'cr4d' %}"><button class="btn btn-success">Обратно</button></a>
    </div>
{% endblock %}